@charset "utf-8";
/* CSS Document */

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{
	margin-bottom:0px !important;
}
.text-center{
	text-align:center !important;
}
.a-center a{
	margin:0px 4px;
}
.toRight-icon{
	background-image:url(images/toRight.png) !important;
	background-position:center center !important;
	background-repeat:no-repeat !important;
}
.toLeft-icon{
	background-image:url(images/toLeft.png) !important;
	background-position:center center !important;
	background-repeat:no-repeat !important;
}
.xiaoqu-icon{
	background-image:url(images/start.png) !important;
	background-position:center center !important;
	background-repeat:no-repeat !important;
}
.dz-icon{
	background-image:url(images/T.png) !important;
	background-position:center center !important;
	background-repeat:no-repeat !important;
}

/*add css */
.console-body .btn{
	height: auto;
}

.console-body .container-fluid {
	clear: both;
}

#menu_topmenu {
	margin: 0;
}

#menu_topmenu .menu-item {
	line-height: 26px;
}

#menu_topmenu .sub-menu .menu-item {
	line-height: 25px;
}

#header .menu-item ul {
	margin: 0;
}

#page-content {
	min-height: 400px;
}

.console-body .row-fluid .count .auto-height-credentials {
	height: auto;
	min-height: 230px;
}