<%= render 'head' %>

<body class="api">

  <%= render 'header' %>

  <div class="sub-nav">
    <h2><a href="/docs/emchat/">API</a></h2>

    <ul>
      <li><a href="/docs/gettingstart/" class="active">入门指南</a></li>
      <li><a href="/docs/android/">Android</a></li>
      <li><a href="/docs/ios/">iOS</a></li>
      <li><a href="/docs/webim/">webIM</a></li>
      <li><a href="/docs/rest/">REST API</a></li>
    </ul>
  </div>

  <div id="wrapper">
    <div class="content">
      <%= yield %>
    </div>
    <%= render 'sidebar' %>
  </div><!-- #wrapper -->

  <%= render 'footer' %>
</body>
</html>
