  <div id="footer" >
    <div class="lower_footer">
      <ul class="footer-cell">
        <li><a href="http://help.github.com/terms-of-service/">文档</a></li>
        <li><a href="http://help.github.com/privacy-policy/">下载</a></li>
        <li><a href="http://help.github.com/security/">FAQ</a></li>
        <li><a href="https://github.com/contact">开发者社区</a></li>
        <li><a href="https://github.com/contact">价格</a></li>
      </ul>

      <span class="footer-cell">
        <a href="http://www.easemob.com" class="mega-octicon octicon-mark-github"></a>
      </span>

      <ul class="footer-cell">
        <li><a href="https://status.github.com/">公司介绍</a></li>
        <li><a href="http://training.github.com/">加入我们</a></li>
        <li><a href="http://shop.github.com/">联系我们</a></li>
        <li><a href="https://github.com/blog">服务协议</a></li>
        <!-- <li><a href="https://github.com/about">About</a></li> -->
      </ul>
    </div>

    <!-- <div class="wrapper">
      <p>Design &copy; <span class="js-year">2014</span> GitHub, Inc. All rights reserved. Except where otherwise noted, content on this site is licensed under a <a href="http://creativecommons.org/licenses/by/3.0/us/">Creative Commons CC-BY license</a>.</p>
    </div> -->

  </div><!-- /#footer -->
  <script src="/js/retina.js" type="text/javascript"></script>
